@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-bcg-color: #1e1e1e;
    --primary-fnt-color: #fff;
    --bcg: cadetblue;
    --font-poppin: 'Poppins', sans-serif;
}

body {
    font-family: 'Bruno Ace SC', cursive;
    background: var(--primary-bcg-color);
    color: var(--primary-fnt-color);
}

main{
    width: calc(100vw - 15%);
    margin: auto;
}