header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_header{
    padding: 10px;
    display: flex;
    align-items: center;
}

.sign{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sign button{
    display: block;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: var(--bcg);
}

.sign button:hover{
    background-color: var(--primary-fnt-color);
}

.logo{
    width: 25%;
    padding: 10px;
}

.logo a img{
    width: 100%;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 55%);
    padding: 10px;
}

.search input{
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-bcg-color);
}

.search input:focus{
    outline: none;
    border-color: var(--primary-fnt-color);
}